/*Add this to all the pages css EXCEPT the homepage*/
#topcontent{
    background-image: none;
    height: 25vh;
}

.container-fluid{
    background-color: #566c2b;
   
}
.navbar{
    padding: 0%;
}

#banner h1{
    font-size: 80px;
}
  #overview{
    width: fit-content;
    height: fit-content;
    padding:100px;
    background-color: white;
  }

 #bh1, #bh2, #bh3, #bh4{
  background-image: none;
  margin-top: 50px;
 }

 #bh3, #bh4{
  margin-bottom: 300px;
 }